<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAPakEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AAPakEditor.Properties.Settings>
            <setting name="AddFileReserveSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCreateTimeKeepExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddCreateTimeSourceCreateTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddCreateTimeSourceModifiedTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCreateTimeSpecifiedTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCreateTimeSpecifiedValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCreateTimePakCreateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCreateTimeUtcNow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCreateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AddCreateAsNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="AddModifyTimeKeepExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyTimeSourceCreateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyTimeSourceModifiedTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddModifyTimeSpecifiedTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyTimeSpecifiedValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyTimePakCreateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyTimeUtcNow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AddModifyAsNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="AddMD5KeepExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddMD5Recalculate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddMD5Specified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddHash" serializeAs="String">
                <value />
            </setting>
            <setting name="AddDummy1KeepExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDummy1Default" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDummy1Specified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddDummy1" serializeAs="String">
                <value />
            </setting>
            <setting name="AddDummy2KeepExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDummy2Default" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDummy2Specified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddDummy2" serializeAs="String">
                <value />
            </setting>
            <setting name="AddShowAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipEditWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenDefaultReadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastImportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowPreview" serializeAs="String">
                <value>True</value>
            </setting>
        </AAPakEditor.Properties.Settings>
    </userSettings>
</configuration>